
    .footer {
      padding: 10;
      margin-top: 'auto';
     
 padding: '10px';
    }

    .footerBox {
      width: '100%';
      margin-top: '10px';
      background-color: rgb(227, 235, 235);
     
    }
    .center {
        text-align: center;
        
 padding: 10px;
      }
      
  